<div class="row">
    <div class="col-md-12">
      <div style="padding:10px;margin-left:150px;margin-right:150px;margin-top:50px;font-weight:bold;">
        <div class="row">
            <div class="col-md-3">
              <div class="size-bloc size-effet">
                <!--box-shadow:0px 0px 32px 10px #b2e5b8;-->
                <span style="font-size:30px;">Ivoire Shop</span><br>
                <span style="font-size: 18px;">Votre shopping a porter de main</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="size-bloc size-effet" style="padding:20px;padding-top:60px;padding-bottom:60px;border-radius:15px;background-color:#cf77cf;color:black;margin-bottom:25px;box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);">
                <!--box-shadow:0px 0px 32px 10px #d0b4d4;-->
                <span style="font-size:30px;">Ivoire Food</span><br>
                <span style="font-size: 18px;">Commander la bouffe en un clic</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="size-effet" style="padding:20px;padding-top:60px;padding-bottom:60px;border-radius:15px;background-color:#ef8400;color:black;margin-bottom:25px;box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);">
                <!--box-shadow:0px 0px 32px 10px #fac9a6;-->
                <span style="font-size:30px;">Ivoire car</span><br>
                <span style="font-size: 18px;">Louer un vehicule devient un jeu</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="size-effet" style="padding:20px;padding-top:60px;padding-bottom:60px;border-radius:15px;background-color:#30c7e9f2;color:black;margin-bottom:25px;box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);">
                <!--box-shadow:0px 0px 32px 10px #b2e6f2;-->
                <span style="font-size:30px;">Ivoire Service</span><br>
                <span style="font-size: 18px;">Vos prestataire a porter de main</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="size-effet" style="padding:20px;padding-top:60px;padding-bottom:60px;border-radius:15px;background-color:#dfc487;color:black;margin-bottom:25px;box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);">
                <span style="font-size:30px;">Ivoire Store</span><br>
                <span style="font-size: 18px;">Nous vous livrons tout chez vous</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="size-effet" style="padding:20px;padding-top:60px;padding-bottom:60px;border-radius:15px;background-color:#df879b;color:black;margin-bottom:25px;box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);">
                <span style="font-size:30px;">Ivoire Trans</span><br>
                <span style="font-size: 18px;">Nous vous livrons tout chez vous</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="size-effet" style="padding:20px;padding-top:60px;padding-bottom:60px;border-radius:15px;background-color:#878edf;color:black;margin-bottom:25px;box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);">
                <span style="font-size:30px;">Ivoire Dépan</span><br>
                <span style="font-size: 18px;">Le depannage a votre portée</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="size-effet" style="padding:20px;padding-top:60px;padding-bottom:60px;border-radius:15px;background-color:#d3d3d3;color:black;margin-bottom:25px;box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);">
                <!--<img src="/assets/img/moto.png" style="width:200px;height:200px;margin-bottom:10px;"/>-->
                <span style="font-size:30px;">Ivoire Livr</span><br>
                <span style="font-size: 18px;">Nous vous livrons tout chez vous</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="size-effet" style="padding:20px;padding-top:60px;padding-bottom:60px;border-radius:15px;background-color:#9cc6d7;color:black;margin-bottom:25px;box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
              -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);">
                <span style="font-size:30px;">Ivoire House</span><br>
                <span style="font-size: 18px;">Chercher un logement devient un jeu</span>
              </div>
            </div>
          </div>
        <app-core-component></app-core-component>
    </div>
  </div>
  </div>